@import './SignUpPage.css'; 

.signin-wrapper {
  max-width: 500px;
  margin: 48px auto 0 auto;
  padding: 0 16px;
}
.signin-back-link {
  margin-left: 0;
  margin-bottom: 2px;
  display: inline-block;
  color: #22336b;
  background: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}
.signin-back-link:hover {
  text-decoration: underline;
} 